<students-filter filter="filterStudents()" clear="clearFilter()" criteria="filterCriteria" view="list"></students-filter>
<div class="container-fluid">
    <div class="row">
        <div ng-repeat="student in students" class="col-md-2" style="margin-top: 5px; paddding: 5px">
            <div class="col-md-12 card" ng-click="showUserModal(student.id, lg)" style="border: 1px solid lightgray;">
                <div style="padding: 5px; border: 1px solid lightgray; margin-top:5px;">
                    <div style="position:relative; overflow:hidden; padding-bottom:100%;">
                        <img src="{{student.imagePath}}" style="position:absolute; max-width: 100%; height: auto;">
                    </div>
                </div>
                <h3>{{student.firstName}} <br>{{student.lastName}}</h3>
            </div>
        </div>
    </div>
</div>
