<div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel panel-default" ng-repeat="groupMessage in groupMessages">
                    <div class="panel-heading">
                        <span class="pull-right">{{groupMessage.postTime | date:'HH:mm:ss dd-MM-yyyy'}}</span>
                        <span>{{groupMessage.authorName + ' from ' + groupMessage.group.name}}</span>
                    </div>
                    <div class="panel-body">
                        <p>
                            {{groupMessage.message}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
        <div class="panel panel-default" style="padding: 5px">
            <h3 class="text-center" ng-show="likeStudents.length !== 0">They like you too</h1>
            <h3 class="text-center" ng-hide="likeStudents.length !== 0" style="margin-bottom: 20px">There will be people that like you too</h1>
            <div class="panel-body" style="padding: 0">
                <div ng-repeat="student in likeStudents" class="row" style="margin: 5px; paddding: 5px" data-toggle="modal" data-target="#myModal">
                    <div class="col-md-12 card" ng-click="showUserModal(student.id, lg)" style="border: 1px solid lightgray;">
                        <div style="padding: 5px; border: 1px solid lightgray; margin-top:5px;">
                            <div style="position:relative; overflow:hidden; padding-bottom:100%;">
                                <img src="{{student.imagePath}}" style="position:absolute; max-width: 100%; height: auto;">
                            </div>
                        </div>
                        <h3>{{student.firstName}} <br>{{student.lastName}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
