<div class="profile">
  <div class="container-fluid">
    <div class="row">
      <div class="image col-lg-4" id="photo">
        <img class="photo" src="/assets/resources/img/man.svg" alt="" />
        <div class="photo-options col-lg-12" id="image-options">
          <div class="options">
            <span class="glyphicon glyphicon-upload"></span>
            <span class="glyphicon glyphicon-remove-circle"></span>
          </div>
        </div>
      </div>
      <div class="col-lg-7 info">
        <div class="row">
          <span class="col-lg-6">
            Name :
          </span>
          <input type="text" class="col-lg-4" name="name" ng-model="user.name">
        </div>
        <div class="row">
          <span class="col-lg-6">Age :</span>
          <input type="number" class="col-lg-4" name="age" ng-model="user.age">
        </div>
        <div class="row">
          <span class="col-lg-6">Room :</span>
          <input type="text" class="col-lg-4" name="room" ng-model="user.room">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        Description
      </div>
      <textarea name="name" class="col-lg-9" ng-model="user.description" rows="4"></textarea>
    </div>
    <div class="row">
      {{ success }}
    </div>
    <div class="row">
      <button type="button" class="btn btn-primary btn-lg col-lg-4 col-lg-offset-4" name="button" ng-click="updateUser()">Save</button>
    </div>
  </div>
</div>
