<div class="modal-header">
    <h3 class="modal-title">{{ student.firstName + " " + student.lastName }}</h3>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <img src="{{student.imagePath}}" class="img-thumbnail">
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <tr><td>Age</td><td>{{student.birthDate | ageFilter}}</td></tr>
                            <tr><td>Faculty</td><td>{{student.faculty}}</td></tr>
                            <tr><td>Speciality</td><td>{{student.speciality}}</td></tr>
                            <tr><td>Course</td><td>{{student.course}}</td></tr>
                            <tr><td>Group</td><td>{{student.group}}</td></tr>
                            <tr><td>Room</td><td>{{student.roomNumber}}</td></tr>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <h4 style="margin: 5px">Groups: </h2>
                        <button class="btn btn-default" style="margin: 5px" ng-click="goToGroup(group.id)" ng-repeat="group in groupsStudentJoined"> {{group.name}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" ng-if="student.id !== currentUser.id" ng-class="checkIfLikeExists ? 'btn btn-primary' : 'btn btn-default'" ng-click="likeProfile()">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        Like
    </button>
    <button ng-hide="toggleLikesModal" class="btn btn-warning" data-dismiss="modal" type="button" ng-click="close()">Close</button>
    <button ng-show="toggleLikesModal" class="btn btn-warning" data-dismiss="modal" data-toggle="modal" data-target="#likeModal" type="button" ng-click="close()">Close</button>
</div>
