<div class="container-fluid">
  <div class="row">
      <div ng-repeat="room in rooms" ng-if="room.profiles.length != 0" class="col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading" style="background-color: transparent">
                  <span>{{room.roomNumber}}</span>
                  <button type="button" class="btn btn-default btn-xs pull-right">
                      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                      Like
                  </button>
              </div>
              <div class="panel-body">
                  <div class="row">
                      <div ng-if="room.capacity == 2" class="col-md-2">
                      </div>
                      <div ng-repeat="profile in room.profiles" class="col-md-4" style="paddding: 5px" data-toggle="modal" data-target="#myModal">
                          <div class="col-md-12 card" ng-click="showUserModal(profile.id, lg)" style="border: 1px solid lightgray;">
                              <img src="{{profile.imagePath}}" class="img-thumbnail" style="margin-top: 5px">
                              <h3>{{profile.firstName}} <br>{{profile.lastName}}</h3>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
