<students-filter filter="filterStudents()" clear="clearFilter()" criteria="filterCriteria" view="rooms"></students-filter>
<div class="container-fluid">
  <div class="row">
      <div ng-repeat="room in rooms" ng-if="room.students.length != 0" class="col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading" style="background-color: transparent">
                  <span>{{room.roomNumber}}</span>
              </div>
              <div class="panel-body">
                  <div class="row">
                      <div ng-if="room.capacity == 2" class="col-md-2">
                      </div>
                      <div ng-repeat="student in room.students" class="col-md-4" style="paddding: 5px">
                          <div class="col-md-12 card" ng-click="showUserModal(student.id, lg)" style="border: 1px solid lightgray;">
                              <div style="padding: 5px; border: 1px solid lightgray; margin-top:5px;">
                                  <div style="position:relative; overflow:hidden; padding-bottom:100%;">
                                      <img src="{{student.imagePath}}" style="position:absolute; max-width: 100%; height: auto;">
                                  </div>
                              </div>
                              <h3>{{student.firstName}} <br>{{student.lastName}}</h3>
                              <div ng-if="student.hide" class="overlay"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
