header {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 5px dashed white;
  padding: 1%;
  background-color: rgba(255, 0, 0, 0.5);
}

header a {
  color: white;
}

header a:hover, header a:focus {
  color: white;
}

header div {
  margin: 1%;
}

.menu-element a {
  letter-spacing: 5px;
  text-decoration: none;
  font-size: xx-large;
  font-weight: bold;
}

.menu-element:hover, .menu-element.active {
  border: 2px solid white;
  border-radius: 100px;
  background-color: rgba(37, 94, 105, 0.5);
}

.menu-item {
  font-size: x-large;
  padding-bottom: 1%;
}

.menu-item:hover {
  text-decoration: underline;
}

.menu-item:focus {
  text-decoration: none;
}
