<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: transparent">
                <span>{{group.name}}</span>
            </div>
            <div class="panel-body">
                <div class="row" style="margin: 0">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="hovereffect">
                                <img class="img-responsive img-thumbnail hovereffect" src="{{group.imageUrl}}" alt="">
                                <div class="overlay">
                                   <h2>Change group avatar</h2>
                                   <a class="info" href="#" data-toggle="modal" data-target="#groupAvatarModal">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px">
                            <button class="btn btn-block btn-primary" ng-hide="studentInGroup" style="margin-bottom: 5px" ng-click="join()">Join</button>
                            <button class="btn btn-block btn-danger" ng-show="studentInGroup" style="margin-top: 0; margin-bottom: 5px" ng-click="leave()">Leave</button>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default" ng-show="studentInGroup">
                                    <div class="panel-body">
                                        <form class="form form-horizontal">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <div class="input-group-btn">
                                                            <textarea class="form-control" rows="3" ng-model="messageBody" placeholder="Message"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-default pull-right" style="margin-top: 5px" ng-click="postMessage()">Post</button>
                                        </form>
                                    </div>
                                </div>
                                <group-messages messages="groupMessages"></group-messages>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="groupAvatarModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add link to new group avatar</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="imageUrl" placeholder="Image link">
                    </div>
                </form>
                <div class="row" ng-show="imageUrl">
                    <div class="col-md-6 col-xs-12" style="padding-bottom: 5px">
                        <img class="img-thumbnail" src="{{imageUrl}}"
                            onerror="this.src='https://placeholdit.imgix.net/~text?txtsize=33&txt=The%20link%20is%20broken&w=400&h=400'">
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div style="padding: 5px; border: 1px solid lightgray;">
                            <div style="position:relative; overflow:hidden; padding-bottom:100%;">
                                <img src="{{imageUrl}}" style="position:absolute; max-width: 100%; height: auto;"
                                    onerror="this.src='https://placeholdit.imgix.net/~text?txtsize=33&txt=The%20link%20is%20broken&w=400&h=400'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="changeImage()" data-dismiss="modal">Save image</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
