<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding: 0">
                <form class="form form-horizontal" role="form">
                    <div class="form-group" style="margin: 0">
                        <div class="col-md-12" style="padding: 0">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" ng-click="showFilter()"><i class="glyphicon glyphicon-filter"></i></button>
                                </div>
                                <div class="input-group-btn">
                                    <button class="btn btn-default" ng-click="toRoomsView()"><i class="glyphicon glyphicon-th-large"></i></button>
                                </div>
                                <input type="text" class="form-control" ng-model="criteria.name" ng-change="filter()" placeholder="Search">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" ng-click="filter()"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-body" ng-show="isFilterExpanded">
                <div class="row">
                    <form class="form-inline" ng-mouseup="filter()">
                        <div class="form-group">
                            <label style="margin-right: 0">From: </label>
                            <input type="number" class="form-control" ng-init="16" ng-model="criteria.ageLow" min="16" max="{{criteria.ageHigh}}" style="width: 60px">
                        </div>
                        <b>-</b>
                        <div class="form-group">
                            <label style="margin-left: 0; margin-right: 0">To: </label>
                            <input type="number" class="form-control" ng-init="25" ng-model="criteria.ageHigh" min="{{criteria.ageLow}}" max="25" style="width: 60px">
                        </div>
                        <select class="form-control" ng-model="criteria.gender">
                            <option value="" selected="selected">Everybody</option>
                            <option value="MALE">Boys</option>
                            <option value="FEMALE">Girls</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div ng-repeat="student in students" class="col-md-2" style="margin-top: 5px; paddding: 5px" data-toggle="modal" data-target="#myModal">
        <div class="col-md-12 card" ng-click="setProfileToShow(student)" style="border: 1px solid lightgray;">
            <img src="{{student.imagePath}}" class="img-thumbnail" style="margin-top: 5px">
            <h3>{{student.firstName}} <br>{{student.lastName}}</h3>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{profileToShow.firstName + " " + profileToShow.lastName}}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4" style="paddding: 5px">
                    <img src="{{profileToShow.imagePath}}" class="img-thumbnail" style="margin-top: 5px">
                </div>
                <div class="col-md-8" style="paddding: 5px">
                    <table class="table">
                        <tr><td>Age</td><td>{{profileToShow.birthDate | ageFilter}}</td></tr>
                        <tr><td>Faculty</td><td>{{profileToShow.faculty}}</td></tr>
                        <tr><td>Speciality</td><td>{{profileToShow.speciality}}</td></tr>
                        <tr><td>Course</td><td>{{profileToShow.course}}</td></tr>
                        <tr><td>Group</td><td>{{profileToShow.group}}</td></tr>
                        <tr><td>Room</td><td>{{profileToShow.roomNumber}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                Like
            </button>
        </div>
    </div>
  </div>
</div>
