html {
  height: 100%;
  width: 100%;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "San Francisco";
  font-size: large;
  color: white;
  height: 100%;
  /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  background: linear-gradient(270deg, purple, #09d8cc);
  background-repeat: no-repeat;
  background-attachment: fixed;*/

  background: linear-gradient(271deg, #02d5ec, #bb00d9);
  /*background-size: 400% 400%;
  -webkit-animation: bg-animation 28s ease infinite;
  -moz-animation: bg-animation 28s ease infinite;
  animation: bg-animation 28s ease infinite;*/
}

main {
  padding: 5% 0;
}

@-webkit-keyframes bg-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bg-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes bg-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
