button, input, select, .panel, .modal-content, .img-thumbnail {
    border-radius: 0 !important;
}
/*
//Break spans if it is wider than a container
h1, h2, h3, h4, span {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}*/
