<div class="panel panel-default" ng-repeat="groupMessage in messages">
    <div class="panel-heading">
        <span class="pull-right">{{groupMessage.postTime | date:'HH:mm:ss dd-MM-yyyy'}}</span>
        <span>{{groupMessage.authorName + (groupMessage.group.name == null ? ' from ' + groupMessage.group.name : '')}}</span>
    </div>
    <div class="panel-body">
        <p>
            {{groupMessage.message}}
        </p>
        <div class="pull-right">
            <button type="button"
                    ng-click="likeMessage(groupMessage)"
                    ng-class="checkIfStudentLikesMessage(groupMessage) ? 'btn btn-primary' : 'btn btn-default'">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                Like
            </button>
            <button type="button"
                    data-toggle="modal" data-target="#likeModal"
                    ng-click="findStudentsForMessageLikes(groupMessage)"
                    ng-class="checkIfStudentLikesMessage(groupMessage) ? 'btn btn-primary' : 'btn btn-default'" style="margin-left: -5px">
                {{groupMessage.likesStudentIds.length}}
            </button>
        </div>
    </div>
</div>


<div class="modal fade" id="likeModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Students that likes this message</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div ng-repeat="student in studentForMessageLikes" class="col-md-4" style="margin-top: 5px; paddding: 5px" data-dismiss="modal">
                            <div class="col-md-12 card" ng-click="showUserModal(student.id, lg)" style="border: 1px solid lightgray;">
                                <div style="padding: 5px; border: 1px solid lightgray; margin-top:5px;">
                                    <div style="position:relative; overflow:hidden; padding-bottom:100%;">
                                        <img src="{{student.imagePath}}" style="position:absolute; max-width: 100%; height: auto;">
                                    </div>
                                </div>
                                <h3>{{student.firstName}} <br>{{student.lastName}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
